h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    color :rgb(74, 17, 17)
}
#kolom {
    width : 98%;
}
#judul {
    background-color: rgb(100, 49, 61);
    color: rgb(248, 251, 232);
}
#keke {
   padding: 23px;
   padding: 20px;
}